@{
    ViewBag.Title = "Půjčovna Knih";
}

<div class="jumbotron">
    <h1>Půjčovna Knih</h1>
    <p>@Html.ActionLink("Registrovat se", "Registration", "Home") nebo pokud již máte vytvořený účet, můžete se @Html.ActionLink("přihlásit", "Login", "Home")</p>
</div>
